/.idea
/dump
/EAGLE
/dump
/EAGLE2
/local_clip
/RAIVD
/runs/detect/train
/dump
dump/detr+regressioni.ipynb
dump/faster-rCNN+regressioni.ipynb
/runs/detect/val22
/runs/detect/val23
/runs/detect/val24
/runs/detect/val25
/runs/detect/val26
/runs/detect/val27
/runs/detect/val28
/runs
/SODA
/SODAyolo
/yolo_project
